<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dao" class="pp.trendservice.dao.TrendBarValueJdbcDao">
        <constructor-arg name="databaseUrl" value="jdbc:h2:mem:trend_db;DB_CLOSE_DELAY=-1;MODE=Oracle"/>
        <constructor-arg name="driver" value="org.h2.Driver"/>
        <constructor-arg name="user" value="sa"/>
        <constructor-arg name="password" value=""/>
        <constructor-arg name="createTableOnStartup" value="true"/>
    </bean>

    <bean id="trend_service" class="pp.trendservice.service.TrendBarService">
        <constructor-arg name="dao" ref="dao"/>
    </bean>

    <bean id="async_trend_service" class="pp.trendservice.service.AsyncTrendBarService">
        <constructor-arg name="dao" ref="dao"/>
    </bean>

</beans>